body {
    background-image: url(/img/product_bg4.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    background-color: #fff;
    width: 60%;
    margin: 40px auto;
    height: 20rem;
    border-radius: 8px;
}
.choose-file {
    padding: 1rem;
    font-size: 1rem;
}
.name, .price {
    border-radius: 8px;
    border: 1px solid white;
    padding: 1rem;
    background-color: rgba(223, 228, 234,1.0);
    width: 50%;
    display: block;
    margin: 3rem auto;
    text-align: center;
}

.currency {
    position: absolute;
    top: 25.4rem;
    left: 60%;
}

.submit {
    border-radius: 4px;
    border: 1px solid white;
    background: linear-gradient(to left, rgba(129, 236, 236,1.0) , 
    rgba(0, 206, 201,1.0), 
    rgba(85, 239, 196,1.0),
     rgba(0, 184, 148,1.0)),
     rgba(76, 209, 55,1.0);
     
    color: #fff;
    padding: 1rem 1.5rem;
    margin-top: 3rem;
    text-align: center;
    float: right;
    cursor: pointer;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    form {
        width: 70%;
    }
    .name, .price {
        width: 300px;
    }
}

@media only screen and (max-width: 600px) {
    form {
        width: 90%;
    }
    .name, .price {
        width: 60%;
    }
    nav ul  {
        display: flex;
        flex-direction: column;
    }
    .submit {
        width: 10rem;
        float: right;
    }
    nav .navigation{
        margin: 0 auto;
    }
    nav .navigation li {
        margin: 1rem;
        border: solid 1px white;
        border: none;
    }
   
}