@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #ecf0f1;
}

header {
    margin: 1.2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
}

form {
    margin: 0;
}

.form-container {
    position: relative;
}

.header-icon__search {
    color: #666;
    font-size: 1.6rem;
    border-radius: 6px;
    font-weight: thin;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 100000;
    top: 33px;
    transform: translateY(-50%);
    right: 25px;
}

header .header-logo {
    width: 200px;
    object-fit: cover;
}
header .header-input {
    width: 30rem;
    padding: 1.2rem 0 1.2rem 1.2rem;
    border-radius: 8px;
    outline: none;
    font-size: 1.2rem;
}

header .sign-in a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1rem 1.2rem;
    background: #eb4d4b;
    color: white;
    border-radius: 8px;
}

.sign-up a {
    text-decoration: none;
    background: black;
    color: #fff;
    padding: 1rem 1.2rem;
    border-radius: 8px;
}

nav {
    margin-top: 2rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}

nav .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background: #4454ff;
    padding: 10px;
}

nav .navigation li {
    padding: 10px;
    display: flex;
    align-items: center;
}

nav .navigation li i {
    margin-left: 1px;
    font-size: 1rem;
    text-align: center;
}

nav .navigation li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    transition: .4s ease-in-out;
    letter-spacing: 1px;
    position: relative;
}

nav .navigation li a:after {
    position: absolute;
    content: '';
    background: rgba(154, 236, 219,1.0);
    height: 4px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: .4s ease-in-out;
}

nav .navigation li a:hover {
    color: #fff;
    background: #1e90ff;
    border-radius: 60px;
}

nav .navigation li a:hover:after {
    width: 100%;
}

@media only screen and (max-width: 1400px) {
    nav .navigation {
        padding: 4px;
    }

    nav .navigation li {
        padding: 4px;
    }

    nav .navigation li a{
        padding: 8px;
    }

    .recently-items {
        margin-top: 8px;
    }
}