@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #ecf0f1;
}

header {
    margin: 1.2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
}

form {
    margin: 0;
}

.form-container {
    position: relative;
}

.header-icon__search {
    color: #666;
    font-size: 1.6rem;
    border-radius: 6px;
    font-weight: thin;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 100000;
    top: 33px;
    transform: translateY(-50%);
    right: 25px;
}

header .header-logo {
    width: 20rem;
    object-fit: cover;
}

header .header-input {
    width: 30rem;
    padding: 1.2rem 0 1.2rem 1.2rem;
    border-radius: 8px;
    outline: none;
    font-size: 1.2rem;
}

header span {}

header .sign-in a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1rem 1.2rem;
    background: #eb4d4b;
    color: white;
    border-radius: 8px;
}

.sign-up a {
    text-decoration: none;
    background: black;
    color: #fff;
    padding: 1rem 1.2rem;
    border-radius: 8px;
}

nav {
    margin-top: 2rem;
}

nav .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background: #448AFF;
    padding: 10px;
}

nav .navigation li {
    padding: 10px;
    display: flex;
    align-items: center;
}

nav .navigation li i {
    margin-left: 1px;
    font-size: 1rem;
    text-align: center;
}

nav .navigation li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    transition: .3s ease-in-out;
    letter-spacing: 1px;
    position: relative;
}

nav .navigation li a:after {
    position: absolute;
    content: '';
    background-color: #fff;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .4s ease-in-out;
}

nav .navigation li a:hover {
    color: #fff;
    background: #0D47A1;
    border-radius: 60px;
}

nav .navigation li a:hover:after {
    width: 100%;
}

.recently-items {
    width: 100%;
    height: 10rem;
    margin-top: 1.5rem;
    background: #fff;
    padding: 8px;
}

.recently-items .title {
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;
}

.recently-items .list-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 1rem;
}

.recently-items .list-items li {}

.list-items img {
    display: block;
    width: 4rem;
    margin: 0 auto;
    height: 4rem;
    margin-bottom: 10px;
}

.list-items li a {
    display: block;
    text-decoration: none;
    color: black;
}

.show {
    width: auto;
    display: flex;
    margin-top: 1rem;
}

.show2 {
    margin-top: 1.6rem;
    width: auto;
    display: flex;
}
.show-child {
    width: 25%;
    background: #fff;
    margin: 1.2rem;
    height: 30rem;
    border-radius: 1rem;
}

.show-child img {
    cursor: pointer;
    width: 90%;
    height: 50%;
    margin: 16px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-child .name {
    display: block;
    width: auto;
    height: auto;
    color: black;
    text-align: left;
    font-size: 1rem
}
.show-child .price {
    display: block;
    width: auto;
    height: auto;
    color: red;
    text-align: left;
    margin-top: 10px;
}
.show-child a {
    display: block;
    text-decoration: none;
    width: 80%;
    text-align: center;
    color: green;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    text-transform: uppercase;
    margin: 0 auto 10px;
    margin-top: 10px;
    padding: 1rem;
    transition: 0.3s linear;
    position: relative;
    z-index: 1;
}
.show-child a::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background: green;
    transition: .4s ease-in-out;
    z-index: -1;
    color: white;
}
.show-child a:hover::before {
    width: 100%;
}
.show-child a:hover {
    color: black;
}
.footer {
    margin-top: 2rem;
    background-color: #2f3640;
    padding: 60px 20px;
    line-height: 1.5;
}
.footer .container {
    max-width: 100vw;
    margin: auto;
}
.footer .row {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}
.footer ul {
    list-style: none;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.5;
    line-height: 2.5;
    transition: .25s  ease-in-out;
    padding: 2rem auto;
    font-size: 16px;
}
.footer-col li a:hover ,
.social-links > a:hover {
    color: cyan;
    text-shadow: 0 0 10px #00f1ff, 
    0 0 20px #00f1ff 
    ,0 0 40px #00f1ff
    ,0 0 40px #00f1ff
    ,0 0 80px #00f1ff
    ,0 0 120px #00f1ff;

}
.footer-col h4 {
    font-size: 20px;
    color: #ecf0f1;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.footer-col h4:hover {
    cursor: default;
    text-shadow: 0 0 10px #00ffa6, 
    0 0 20px #00ffa6 
    ,0 0 40px #00ffa6
    ,0 0 40px #00ffa6;
}
.social-links {
    display: flex;
    flex-direction: column;
}
.social-links > a{
    display: block;
    color: #ffff;
    margin-bottom: 16px;
 
}

@media only screen and (max-width: 1400px) {
    .footer {
        margin-top: 2rem;
    }
    nav .navigation {
        padding: 4px;
    }

    nav .navigation li {
        padding: 4px;
    }

    nav .navigation li a{
        padding: 8px;
    }

    .recently-items {
        margin-top: 8px;
    }
}
@media only screen and (max-width: 700px) {
    .footer-col {
        width: 50%;
    } 
    .footer {
        margin-top: 2rem;
    }
    .footer-col:nth-child(1) {
        margin-bottom: 3rem;
    }
    .footer-col:nth-child(2) {
        margin-bottom: 3rem;
    }
    .show {
        height: 30rem;
    }
    .show-child a {
        padding: 8px;
    }
    .footer-col li a {
        line-height: 2;
    }
    .social-links > a {
        margin-bottom: 8px;
    }
}
@media only screen and (max-width: 400px) {
    .footer .container {
        margin-top: 2rem;
        width: 100vw;
    }
    .footer-col li a {
        line-height: 2;
    }
}