@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-size: 62.5%; */
    background: skyblue;
    font-family: 'Montserrat', sans-serif;
}
.menu-name {
    max-width: 18rem;
    background: #1e1e1e;
    color: white;
    background: #636e72;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 6.5rem;
}
.menu-title {
    font-weight: bold;
    font-size: 3rem;
}

.sidebar {
    width: 18rem;
    position: fixed;
}
ul {
    background: #1e1e1e;
    overflow: hidden;
    height: 100vh;
}
.dropdown {
    position: relative;
    display: block;
    border-bottom: solid 1px #999;
    line-height: 6rem;
}

.dropdown-btn {
    display: block;
    color: white;
    text-align: left;
    padding: 1.2rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
}

.dropdown-icon {
    transition: .4s linear;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
}

.dropdown-btn:hover span {
    transform: translateY(-50%) rotate(-180deg);
}
.dropdown:hover {
    color: cyan;
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    background: #1e1e1e;
}

.sidebar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 18rem;
    z-index: 1;
    border-left: 3px solid cyan;
    line-height: 3rem;
}

.dropdown-content a {
    color: black;
    padding: 1.2rem 3rem;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
}

.dropdown-content a:hover {
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    background: #1e1e1e;
    color: cyan;
    border-left-color: cyan;
}

.dropdown:hover .dropdown-content {
    display: block; 
     width: 100%;
}