@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #ecf0f1;
}

header {
    /* position: fixed; */
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
}

.participate>span {
    margin: 10px;
}

form {
    margin: 0;
}

.form-container {
    position: relative;
}

.header-icon__search {
    color: #666;
    font-size: 1.2rem;
    border-radius: 6px;
    font-weight: thin;
    align-items: center;
    position: absolute;
    z-index: 100000;
    top: 26px;
    transform: translateY(-50%);
    right: 20px;
}

::placeholder {
    font-size: 1.1rem;
}

header .header-logo {
    float: left;
    clear: both;
    width: 250px;
    object-fit: cover;
}

.header-input {
    max-width: 30rem;
    padding: 1rem;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    margin-left: 5rem;
}

.bag-icon {
    color: grey;
}

.bag-icon:hover {
    opacity: 0.8;
}

.sign-in, .sign-up {
    display: block;
}

.sign-in a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1rem 1rem;
    background: #eb4d4b;
    color: white;
    border-radius: 8px;
}

.sign-up a {
    text-decoration: none;
    background: black;
    color: #fff;
    padding: 1rem 1rem;
    border-radius: 8px;
    font-weight: bold;
}

.sign-in:hover,
.sign-up:hover {
    opacity: 0.8;
}

nav {
    margin-top: 1.5rem;
    top: 0;
    z-index: 100;
}

nav .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background: #448AFF;
    padding: 6px;
    animation: backgroundchange 10s linear infinite;
    margin-bottom: 1rem;
    border: 1px solid #6666;

}

@keyframes backgroundchange {
    0% {
        background: linear-gradient(to right, #0984e3, #a29bfe);
        left: 0;
    }

    25% {
        background: linear-gradient(to right, #10ac84, #1dd1a1);
        left: 100%;
    }

    50% {
        background: linear-gradient(to left, #ff9ff3, #5f27cd);
        left: 100%;
    }

    75% {
        background: linear-gradient(to left, #FC427B, #B33771);
        left: 100%;
    }
}

nav .navigation li {
    padding: 8px;
    display: flex;
    align-items: center;
}

nav .navigation li i {
    font-size: 1rem;
    text-align: center;
    margin-left: 6px;
    position: absolute;
    transform: translateY(4px);
}

nav .navigation li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    transition: .3s ease-in-out;
    letter-spacing: 1px;
    position: relative;
    animation: changetext 5s linear infinite;
}

@keyframes changetext {
    0% {
        color: #fff
    }

    25% {
        color: #fff;
    }

    50% {
        color: black;
    }

    75% {
        color: black;
    }
}

nav .navigation li a:after {
    position: absolute;
    content: '';
    background-color: #00ffa6;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: .4s ease-in-out;
}

nav .navigation li a:hover {
    color: #fff;
}

nav .navigation li a:hover:after {
    width: 100%;
}

.recently-items {
    width: 100%;
    height: 10rem;
    margin-top: 1.5rem;
    background: #fff;
    padding: 8px;
}

.recently-items .title {
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;
}

.recently-items .list-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 1rem;
}

.recently-items .list-items li {}

.list-items img {
    display: block;
    width: 4rem;
    margin: 0 auto;
    height: 4rem;
    margin-bottom: 10px;
}

.list-items li a {
    display: block;
    text-decoration: none;
    color: black;
}

.show {
    width: auto;
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

.show-child {
    background: #fff;
    margin: 1rem 0 0 1rem;
    height: 22rem;
    border-radius: 1rem;
}

.show-child img {
    cursor: pointer;
    width: 90%;
    height: 50%;
    margin: 16px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-child img:hover {
    opacity: .8;
}

.show-child .name {
    display: block;
    width: auto;
    height: auto;
    color: black;
    text-align: left;
    font-size: 1rem;
    margin-left: 4px;
}

.show-child .price {
    display: block;
    width: auto;
    height: auto;
    color: red;
    text-align: left;
    margin-top: 10px;
    margin-left: 4px;
}

.show-child a {
    display: block;
    text-decoration: none;
    width: 80%;
    text-align: center;
    color: green;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    text-transform: uppercase;
    margin: 0 auto 10px;
    margin-top: 10px;
    padding: 1rem;
    transition: 0.3s linear;
    position: relative;
    z-index: 1;
}

.show-child a::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background: green;
    transition: .4s ease-in-out;
    z-index: -1;
    color: white;
}

.show-child a:hover::before {
    width: 100%;
}

.show-child a:hover {
    color: black;
}

.footer {
    margin-top: 2rem;
    background-color: #2f3640;
    padding: 60px 20px;
    line-height: 1.5;
}

.footer .container {
    max-width: 100vw;
    margin: auto;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col li a {
    text-decoration: none;
    color: #bdc3c7;
    letter-spacing: 1.5;
    line-height: 2.5;
    transition: .25s ease-in-out;
    padding: 2rem auto;
    font-size: 16px;
    font-weight: 500;
}


.footer-col li a:hover {
    padding-left: 10px;
}

.footer-col li a:hover {
    color: cyan;
    text-shadow: 0 0 10px #00f1ff, 0 0 20px #00f1ff, 0 0 40px #00f1ff, 0 0 40px #00f1ff, 0 0 80px #00f1ff, 0 0 120px #00f1ff;
}

.footer-col h4 {
    font-size: 20px;
    color: skyblue;
    text-transform: uppercase;
    margin-bottom: 25px;
    transition: .25s linear;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #e91e63;
    height: 3px;
    width: 0;
    transition: .25s linear;
}

.footer-col h4:hover::before {
    width: 50px;
}

.footer-col h4:hover {
    cursor: default;
    text-shadow: 0 0 10px #00ffa6, 0 0 20px #00ffa6, 0 0 40px #00ffa6, 0 0 40px #00ffa6;
}

.social-links {
    display: flex;
}

.social-links a {
    display: block;
    color: #ffff;
    margin: 0 10px 10px 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 40px;
    text-align: center;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%, 18%, 20%, 50%, 60%, 65%, 80%, 90% {
        color: #0e3742;
        text-shadow: none;
    }

    18.1%, 20.1%, 30%, 50%, 65.1%, 80.1%, 90.1%, 100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 160px #03bcf4;
    }
}

.social-links a:hover {
    background-color: #ffffff;
    color: #000;
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header-input {
        min-width: 20rem;
    }

    nav .navigation {
        padding: 4px;
    }

    nav .navigation li {
        padding: 8px;
    }

    nav .navigation li a {
        padding: 8px;
    }

    .recently-items {
        margin-top: 8px;
    }

    .footer {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header .header-input {
        width: 27rem;
    }

    header .header-logo {
        width: 210px;
    }

    nav .navigation {
        padding: 8px;
    }

    nav .navigation li {
        padding: 8px;
    }

    nav .navigation li a {
        padding: 12px;
        font-size: 1.4rem;
    }

    .footer {
        padding: 60px 20px;
    }

    .social-links>a {
        margin-bottom: 8px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1023px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header-input {
        max-width: 25rem;
    }

    header .header-logo {
        width: 200px;
    }

    header .header-input {
        margin: 0;
        width: 20rem;
    }

    nav .navigation li {
        padding: 4px;
    }

    nav .navigation li a {
        padding: 8px;
    }

    .footer {
        padding: 60px 20px;
    }

    .social-links>a {
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 481px) and (max-width:768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .header-logo {
        margin-bottom: 1rem;
        width: 210px;
    }

    .header-input {
        width: 25rem;
        margin: 0 auto;
    }

    .bag-icon {
        margin: 1.2rem auto 2rem auto;
    }

    .sign-in, .sign-up {
        margin: 0 auto;
    }

    .sign-up {
        margin-bottom: 8px;
    }

    .sign-in {
        margin-bottom: 3rem;
    }

    nav .navigation {
        display: flex;
        flex-direction: column;
    }

    .show-child {
        height: 28rem;
    }

    .show-child .name {
        padding: 10px;
    }

    .show-child .price {
        padding: 10px;
    }

    .footer-col {
        width: 50%;
    }
}

@media screen and (min-width: 320px) and (max-width:480px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    header .header-logo {
        margin-bottom: 1rem;
    }

    header .header-input {
        width: 18rem;
        margin: 0 auto;
    }

    .bag-icon {
        margin: 1rem auto 2rem auto;
    }

    .sign-in, .sign-up {
        margin: 0 auto;
    }

    .sign-up {
        margin-top: 2.7rem;
        margin-bottom: 8px;
    }

    nav .navigation {
        display: flex;
        flex-direction: column;
    }

    .recently-items {
        display: none;
    }

    .show-child {
        width: 80%;
        margin: 10px auto;
        height: 27rem;
    }

    .show-child .name, .show-child .price {
        padding: 10px;
    }

    .footer .container {
        margin-top: 2rem;
        width: 100%;
    }

    .footer-col li a {
        line-height: 2;
        text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

    .footer-col {
        width: 100%;
    }

    .footer {
        padding: 40px 16px;
    }
}