@media screen and (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header-input {
        min-width: 20rem;
    }

    nav .navigation {
        padding: 4px;
    }

    nav .navigation li {
        padding: 8px;
    }

    nav .navigation li a {
        padding: 8px;
    }

    .recently-items {
        margin-top: 8px;
    }

    .footer {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header .header-input {
        width: 27rem;
    }

    header .header-logo {
        width: 210px;
    }

    nav .navigation li {
        padding: 8px;
    }

    nav .navigation li a {
        padding: 12px;
        font-size: 1.4rem;
    }

    .footer {
        padding: 60px 20px;
    }

    .social-links>a {
        margin-bottom: 8px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1023px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .header-input {
        width: 20rem;
    }
    header .header-logo {
        width: 200px;
    }
    header .sign-up {
        display: none;
    }
    header .header-input {
        margin: 0;
        width: 20rem;
    }

    nav .navigation li {
        padding: 4px;
    }

    nav .navigation li a {
        padding: 8px;
    }

    .footer {
        padding: 60px 20px;
    }

    .social-links>a {
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 481px) and (max-width:768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .header-logo {
        margin-bottom: 1rem;
        width: 210px;
    }
     
    .header-input {
        width: 25rem;
        margin: 0 auto;
    }
    .bag-icon {
        margin: 1.2rem auto 2rem auto;
    }
    
    .sign-in , .sign-up {
        margin: 0 auto;
    }
    .sign-up {
        margin-bottom: 8px;
    }
    .sign-in {
        margin-bottom: 3rem;
    }
    nav .navigation {
        display: flex;
        flex-direction: column;
    }
    .list-items img {
        display: block;
        width: 4rem;
        margin: 0 auto;
        height: 3rem;
        margin-bottom: 10px;
    }
    .show-child {
        height: 28rem;
    }

    .show-child .name {
        padding: 10px;
    }

    .show-child .price {
        padding: 10px;
    }

    .footer-col {
        width: 50%;
    }
}

@media screen and (min-width: 320px) and (max-width:480px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        }
    header .header-logo {
        margin-bottom: 1rem;
    }

    header .header-input {
        width: 18rem;
        margin: 0 auto;
    }
    .bag-icon {
        margin: 1rem auto 2rem auto;
    }
    .sign-in, .sign-up {
        margin: 0 auto;
    }
    .sign-up {
        margin-top: 2.7rem;
        margin-bottom: 8px;
    }

    nav .navigation {
        display: flex;
        flex-direction: column;
    }
    .recently-items {
      display: none;
    }
    .show-child {
        width: 80%;
        margin: 10px auto;
        height: 27rem;
    }

    .show-child .name, .show-child .price {
        padding: 10px;
    }

    .footer .container {
        margin-top: 2rem;
        width: 100%;
    }

    .footer-col li a {
        line-height: 2;
        text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

    .footer-col {
        width: 100%;
    }

    .footer {
        padding: 40px 16px;
    }
}