@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap');
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    background: #ffffff;
    font-family: 'roboto', sans-serif;
    background-image: url(/img/signup_background.jpg);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.logo {
    width: 250px;
    margin: 1rem;
    height: auto;
}

.login-box {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 gray;
    width: 500px;
    height: 540px;
    margin: 0 auto;
    margin-top: 40px;
    background: #fff;
}

label {
    font-weight: bold;
    margin: 10px 8%;
    padding: 10px;
}

.login-box h1 {
    text-align: center;
    font-size: 40px;
    background: -webkit-linear-gradient(rgba(112, 161, 255,.7), rgba(55, 66, 250,.8), rgba(83, 82, 237,.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
input {
    margin-top: 20px;
    padding: 16px;
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid black;
}

.sign-up {
    color: white;
    background-color: #EF5350;
    width: 40%;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 22px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
}
.social-icons img {
    margin-right: 5px;
    height: 32px;
}
.social-icons a {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-left: 10px;
    background: #1e90ff;
    padding: 8px 8px;
    text-decoration: none;
    width: 30%;
    z-index: 10000;
    font-size: 18px;
}
.social-icons a:hover {
    opacity: 0.8;
}
@media only screen and (max-width: 900px) {
    .logo {
        display: block;
        margin: 20px auto;
        width: 200px;
        height: 60px;
    }
    .title {
       display: block;
       float: 0;
       clear:both;
    }
    input {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    .login-box {
        width: 100%;
    }
    .input {
        width: 80%;
    }
}
@media only screen and (max-width: 400px) {
    .login-box {
        height: 600px;
    }
    .social-icons {
        display: block;
    }
    .social-icons:nth-child(1) {
        margin: 0;
    }
    .social-icons a {
        margin: 20px auto;
        width: 7rem;
    }
    .social-icons img {
        height: 2rem;
    }
   .sign-up {
       width: 6rem;
   }
}
